<a href="https://colab.research.google.com/github/jeffowino/MLACHINE-LEARNING-CLASS/blob/main/Python_in_All_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
t="hellow world"
print(t)
t

hellow world

'hellow world'

In [4]:
a,b,c=5,3.3,"hellow"
print(a)
print(b)
print(c)

5
3.3
hellow

In [5]:
x=(1 ==True)
y=(1 ==False)
a=True +4
b=True+10

print("x is",y)

x is False

Pyhthon list

In [10]:
a=[5,3,4,5,6,4,6,7]
#a[0]
a[0:3]

[5, 3, 4]

Tuple
Ordered sequence of items ,almots same as list.Tuples are immuttatble

In [14]:
t=(5,"program",1)
t[1]

'program'

Python string

In [18]:
a="string"
a=3

In [19]:
s="Heloow world"
s[4]

'o'

Set
this unordered colection of unique items

{}

In [22]:
a={1,3,4,5,4,5}
print("a=", a)
print(type(a))

a= {1, 3, 4, 5}
<class 'set'>

Dictionary is un ordered coletion of key values pairs


cities=(nairobi,mombasa,Kisumu,eldoret)
counties=(Nairobi,mombasa,muranga)
carbrand=(marc,toyota)

In [25]:
d={4:"cities","carbrand":2}
type(d)
d

{4: 'cities', 'carbrand': 2}

In [ ]:
a=2

FLOW
if test expression:
  statement(s)

In [26]:
num=3
if num>0:
  print(num, "is a positive number.")
print("This is always printed")

3 is a positive number.
This is always printed

If else

if test  expression
   body of if
else:
     Body of else

In [27]:
num=3
if num >=0:
  print("positive  or zero")
else:
  print("negative numbers")

positive  or zero

IF ELIF....ELSE

if test expression:
  Body of if
elif test expression:
  Body of elif
Else:
  Body of else

In [30]:
num=3.4
if num >0:
 print("this is positive")
elif num==0:
 print("zero")
  
  
else:
  print("Negative number")

this is positive

Nested functions
These are functions within a function

In [ ]:
num=float(input("Enter a number:"))
if num >=0:
  if num==0:
    print("positive number")
else:
  print("Negative number")

FOR LOOP

for val in sequence:
loop the body

In [32]:
#List 
numbers=[6,4,5,2,4,5,3,6,7,8,6,8]
#varible to store the sum
sum=0
#iterate over the list
for val in numbers:
  sum=sum+val
print("The sum is",sum)

The sum is 64

**Check on range function**

In [33]:
#Program thar iterates through the list using the indexing
genre=["pop","rock","jazz"]
#iterate over the list  using the index
for i in range(len(genre)):
  print("I like",genre[i])

I like pop
I like rock
I like jazz

In [34]:
digits=[0,1,5]
for i in digits:
  print(i)
else:
  print("No items left in the list")

0
1
5
No items left in the list

In [36]:
student_name="julius"
marks={"james":90,"julius":66,"arthur":77}
for student in marks:
  if student==student_name:
    print(marks[student])
    break
else:
  print("No entry with that name found")

66